{
  "swagger": "2.0",
  "info": {
    "title": "HubSpot Contacts",
    "description": "Base API definition for HubSpot CRM Objects",
    "version": "2026-09"
  },
  "host": "api.hubapi.com",
  "basePath": "",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "PrivateAppAuth": []
    }
  ],
  "paths": {
    "/crm/objects/2026-09/{objectType}": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "Retrieve contacts",
        "operationId": "getContacts",
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CollectionResponseSimplePublicObject"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Basic"
        ],
        "summary": "Create a contact",
        "operationId": "createContact",
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SimplePublicObjectInputForCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/SimplePublicObject"
            }
          }
        }
      }
    },
    "/crm/objects/2026-09/{objectType}/{objectId}": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "Retrieve a contact",
        "operationId": "getContactById",
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/SimplePublicObject"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Basic"
        ],
        "summary": "Archive a contact",
        "operationId": "archiveContact",
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        }
      },
      "patch": {
        "tags": [
          "Basic"
        ],
        "summary": "Update a contact",
        "operationId": "updateContact",
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SimplePublicObjectInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/SimplePublicObject"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "PrivateAppAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "HubSpot authentication. Use a Bearer token. Do not store the token in this Swagger file."
    }
  },
  "definitions": {
    "SimplePublicObject": {
      "type": "object",
      "required": [
        "id",
        "properties"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SimplePublicObjectInputForCreate": {
      "type": "object",
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SimplePublicObjectInput": {
      "type": "object",
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CollectionResponseSimplePublicObject": {
      "type": "object",
      "required": [
        "results"
      ],
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SimplePublicObject"
          }
        }
      }
    }
  }
}
