
{

  "openapi": "3.0.0",

  "info": {

    "title": "HubSpot Contacts API for K2",

    "description": "HubSpot v3 Contacts API definition for Nintex K2 Cloud",

    "version": "2.0.0"

  },

  "servers": [

    {

      "url": "https://api.hubapi.com/crm/v3"

    }

  ],

  "security": [

    {

      "PrivateAppAuth": []

    }

  ],

  "paths": {

    "/objects/contacts": {

      "get": {

        "tags": [

          "Contacts"

        ],

        "summary": "Get Contacts",

        "description": "Retrieve a list of contacts from HubSpot.",

        "operationId": "getContacts",

        "x-k2-entityName": "Contact",

        "parameters": [

          {

            "name": "after",

            "in": "query",

            "required": false,

            "description": "Paging cursor token returned by HubSpot.",

            "schema": {

              "type": "string"

            }

          },

          {

            "name": "archived",

            "in": "query",

            "required": false,

            "description": "Whether to return archived contacts.",

            "schema": {

              "type": "boolean",

              "default": false

            }

          },

          {

            "name": "limit",

            "in": "query",

            "required": false,

            "description": "Number of contacts to return.",

            "schema": {

              "type": "integer",

              "format": "int32",

              "default": 10

            }

          }

        ],

        "responses": {

          "200": {

            "description": "Successful operation",

            "content": {

              "application/json": {

                "schema": {

                  "$ref": "#/components/schemas/ContactCollection"

                }

              }

            }

          },

          "401": {

            "description": "Unauthorized"

          },

          "403": {

            "description": "Forbidden"

          },

          "429": {

            "description": "Rate limit exceeded"

          }

        }

      },

      "post": {

        "tags": [

          "Contacts"

        ],

        "summary": "Create Contact",

        "description": "Create a new contact in HubSpot.",

        "operationId": "createContact",

        "x-k2-entityName": "Contact",

        "requestBody": {

          "required": true,

          "content": {

            "application/json": {

              "schema": {

                "$ref": "#/components/schemas/SimplePublicObjectInputForCreate"

              }

            }

          }

        },

        "responses": {

          "201": {

            "description": "Contact created successfully",

            "content": {

              "application/json": {

                "schema": {

                  "$ref": "#/components/schemas/SimplePublicObject"

                }

              }

            }

          },

          "400": {

            "description": "Bad request"

          },

          "401": {

            "description": "Unauthorized"

          },

          "403": {

            "description": "Forbidden"

          }

        }

      }

    },
 
    "/objects/contacts/{contactId}": {

      "get": {

        "tags": [

          "Contacts"

        ],

        "summary": "Get Contact By ID",

        "description": "Retrieve a specific contact using its HubSpot ID.",

        "operationId": "getContactById",

        "x-k2-entityName": "Contact",

        "parameters": [

          {

            "name": "contactId",

            "in": "path",

            "required": true,

            "description": "HubSpot contact ID.",

            "schema": {

              "type": "string"

            }

          },

          {

            "name": "archived",

            "in": "query",

            "required": false,

            "schema": {

              "type": "boolean",

              "default": false

            }

          }

        ],

        "responses": {

          "200": {

            "description": "Successful operation",

            "content": {

              "application/json": {

                "schema": {

                  "$ref": "#/components/schemas/SimplePublicObject"

                }

              }

            }

          },

          "401": {

            "description": "Unauthorized"

          },

          "403": {

            "description": "Forbidden"

          },

          "404": {

            "description": "Contact not found"

          }

        }

      },
 
      "patch": {

        "tags": [

          "Contacts"

        ],

        "summary": "Update Contact",

        "description": "Update details of an existing contact.",

        "operationId": "updateContact",

        "x-k2-entityName": "Contact",

        "parameters": [

          {

            "name": "contactId",

            "in": "path",

            "required": true,

            "description": "HubSpot contact ID.",

            "schema": {

              "type": "string"

            }

          }

        ],

        "requestBody": {

          "required": true,

          "content": {

            "application/json": {

              "schema": {

                "$ref": "#/components/schemas/SimplePublicObjectInput"

              }

            }

          }

        },

        "responses": {

          "200": {

            "description": "Update successful",

            "content": {

              "application/json": {

                "schema": {

                  "$ref": "#/components/schemas/SimplePublicObject"

                }

              }

            }

          },

          "400": {

            "description": "Bad request"

          },

          "401": {

            "description": "Unauthorized"

          },

          "403": {

            "description": "Forbidden"

          },

          "404": {

            "description": "Contact not found"

          }

        }

      },
 
      "delete": {

        "tags": [

          "Contacts"

        ],

        "summary": "Archive Contact",

        "description": "Archive a contact by ID.",

        "operationId": "archiveContact",

        "x-k2-entityName": "Contact",

        "parameters": [

          {

            "name": "contactId",

            "in": "path",

            "required": true,

            "description": "HubSpot contact ID.",

            "schema": {

              "type": "string"

            }

          }

        ],

        "responses": {

          "204": {

            "description": "Contact archived successfully"

          },

          "401": {

            "description": "Unauthorized"

          },

          "403": {

            "description": "Forbidden"

          },

          "404": {

            "description": "Contact not found"

          }

        }

      }

    }

  },
 
  "components": {

    "securitySchemes": {

      "PrivateAppAuth": {

        "type": "http",

        "scheme": "bearer",

        "bearerFormat": "HubSpot Private App Access Token"

      }

    },
 
    "schemas": {

      "ContactProperties": {

        "type": "object",

        "properties": {

          "email": {

            "type": "string",

            "nullable": true

          },

          "firstname": {

            "type": "string",

            "nullable": true

          },

          "lastname": {

            "type": "string",

            "nullable": true

          },

          "phone": {

            "type": "string",

            "nullable": true

          }

        }

      },
 
      "SimplePublicObject": {

        "type": "object",

        "properties": {

          "id": {

            "type": "string"

          },

          "properties": {

            "$ref": "#/components/schemas/ContactProperties"

          }

        }

      },
 
      "ContactCollection": {

        "type": "object",

        "properties": {

          "results": {

            "type": "array",

            "items": {

              "$ref": "#/components/schemas/SimplePublicObject"

            }

          }

        }

      },
 
      "SimplePublicObjectInputForCreate": {

        "type": "object",

        "required": [

          "properties"

        ],

        "properties": {

          "properties": {

            "$ref": "#/components/schemas/ContactProperties"

          }

        }

      },
 
      "SimplePublicObjectInput": {

        "type": "object",

        "required": [

          "properties"

        ],

        "properties": {

          "properties": {

            "$ref": "#/components/schemas/ContactProperties"

          }

        }

      }

    }

  }

}
 
