Can you check with this swagger ?
 
Delete the smo you created after the last change. 
 
{
  "openapi": "3.0.0",
  "info": {
    "title": "HubSpot Contacts - K2 Test",
    "version": "1.0.0"
  },
 
  "servers": [
    {
      "url": "https://api.hubapi.com/crm/v3"
    }
  ],
 
  "paths": {
    "/objects/contacts": {
      "get": {
        "operationId": "GetContacts",
        "summary": "Get Contacts",
 
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
 
        "responses": {
          "200": {
            "description": "HubSpot contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          }
        }
      }
    }
  },
 
  "components": {
    "schemas": {
 
      "ContactResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SimplePublicObject"
            }
          }
        }
      },
 
      "SimplePublicObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/ContactProperties"
          }
        }
      },
 
      "ContactProperties": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "nullable": true
          },
          "firstname": {
            "type": "string",
            "nullable": true
          },
          "lastname": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          }
        }
      }
    }
  }
}
 
